
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/" method="post">
    <input type="text" name="anagramm" />
    <button type="submit">Check for anagramm!</button>
</form>