
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<h1>Welcome to Programmer Fox Club</h1>
<p>Please provide a name, so you can associate with your pet</p>
<form action="/login" method="post">
    Name:<input type="text" name="name" required>
    <button type="submit">GO!</button>
</form>

