@model  List<string>
@{
    ViewData["Title"] = "TrickCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TrickCenter</h2>
@if (Model.Count!=0)
{
<form action="/trickcenter" method="post">
    Trick:
    <select name="trick">
        @foreach (string i in Model)
        {
            <option value=@i>@i</option>
        }
    </select>
    <button type="submit">Learn!</button>
</form>
}
else
{
<p>You have learned every possible tricks</p>
}
