@model int
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h1>@Model</h1>
<form action="/" method="post">
    <button type="submit" value="Send">Send</button>
</form>
