th{background-color:black;
color:white;
border:1pt solid #bfbfbf;
border-bottom:3pt solid #bfbfbf;
padding:10px;}
table{color:grey;
border-collapse:collapse;
text-align:left;
margin:auto;
width:40%;
background-color:white;
}
tr:nth-child(even){
	background-color:#dcdcdc;
}
body{
	background-color:#1e90ff;
}
td{
	padding:10px;
	border:1pt solid #bfbfbf;
}
table tr:first-child th {
  border-top: 0;
}
table tr td:first-child,table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,table tr th:last-child {
  border-right: 0;
}
table tr:last-child td {
  border-bottom: 0;
}