
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/" method="post">

    Name: <input type="text" name="Name" />
    <button type="submit">Send</button>

</form>
