body {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  font-family:sans-serif;
}
select{
	width: 200px;
	padding:10px;
	float:left;
	color:blue;
}
label{
	display:inline-block;
}