@model EditTodoViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Todo</h2>
<form action="/@Model.Todo.Id/edit" method="post">
    <table>
        <tr>
            <td>Todo Description:</td>
            <td><input type="text" name="Title" value="@Model.Todo.Title"></td>
        </tr>
        <tr>
            <td>Is it urgent?:</td>
            @if(Model.Todo.IsUrgent)
            {
            <td><input type="checkbox" name="IsUrgent" value=true checked></td>
            }
            else
            {
            <td><input type="checkbox" name="IsUrgent" value=true></td>
            }
        </tr>
        <tr>
            <td>Is it done?</td>
            @if(Model.Todo.IsDone)
            {
            <td><input type="checkbox" name="IsDone" value="true" checked></td>
            }
            else
            {
        <td><input type="checkbox" name="IsDone" value="true"></td>
            }
            
        </tr>
        <tr>
            <td>
                <select name="Assignee.Id">
                    @foreach (Assignee item in Model.Assignees)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Change</button></td>
            <td><a href="/todo">Cancel</a></td>
        </tr>
    </table>


</form>

